{% extends "view.html" %} {% block title %}Find{% endblock %}

{% block view_content %}

<!-- List of Campaigns -->
<div class="container mt-4">

    <div class="mt-5 d-flex align-items-center justify-content-between">
        <h2 class="flex-shrink-0">
            Campaigns
        </h2>
        <!-- create a search button  -->
        <form action="/admin/filter-campaigns" method="POST" class="flex-grow-2 ms-3">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Filter Campaigns" name="filter" value="">
            <button class="btn btn-outline-secondary fw-bold" style="color: black" type="submit">Filter</button>
            </div>
        </form>
    </div>

    {% if allCampaigns|length == 0 %}
    <div class="alert alert-warning text-center fs-3 mt-4">
      <span><strong>No Campaigns Available</strong></span>
    </div>
    {% else %}
    {% endif %}

    {% for campaign in allCampaigns %}
    <div class="mt-2 campaign-row">
        <span>{{ campaign.title }} | {{ campaign.budget }}</span>
        <div>
            <button type="button" class="btn btn-outline-warning btn-view" data-bs-toggle="modal" data-bs-target="#campaign-{{campaign.id}}">View</button>
            <div class="modal fade" id="campaign-{{campaign.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel" style="font-family: Verdana, Geneva, Tahoma, sans-serif">{{ campaign.title }}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h4>Description</h4>
                      {{ campaign.description }}
                      <hr>
                      <h4>Budget</h4>
                      {{ campaign.budget }}
                      <hr>
                      <h4>Start Date</h4>
                      {{ campaign.start_date }}
                      <hr>
                      <h4>End Date</h4>
                      {{ campaign.end_date }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger fw-bold" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            <button class="btn btn-outline-danger btn-request">Flag</button>
            
        </div>
    </div>
    {% endfor %}
</div>

<!-- List of Influencers -->
<div class="container mt-4">

    <div class="mt-5 d-flex align-items-center justify-content-between">
        <h2 class="flex-shrink-0">
            Influencers
        </h2>
        <!-- create a search button  -->
        <form action="/admin/filter-influencers" method="POST" class="flex-grow-2 ms-3">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Filter Influencers" name="filter" value="">
            <button class="btn btn-outline-secondary fw-bold" style="color: black" type="submit">Filter</button>
            </div>
        </form>
    </div>

    {% if allInfluencers|length == 0 %}
    <div class="alert alert-warning text-center fs-3 mt-4">
      <span><strong>No Influencers Available</strong></span>
    </div>
    {% else %}
    {% endif %}

    {% for influencer in allInfluencers %}
        <div class="mt-2 campaign-row">
            <span>{{ influencer.username }} | {{ influencer.followers }}</span>
            <div>
                <button type="button" class="btn btn-outline-warning btn-view" data-bs-toggle="modal" data-bs-target="#influencer-{{influencer.id}}">View</button>
                <div class="modal fade" id="influencer-{{influencer.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel" style="font-family: Verdana, Geneva, Tahoma, sans-serif">{{ influencer.username }}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h4>Email</h4>
                          {{ influencer.email }}
                          <hr>
                          <h4>Category</h4>
                          {{ influencer.category }}
                          <hr>
                          <h4>Niche</h4>
                          {{ influencer.niche }}
                          <hr>
                          <h4>Followers</h4>
                          {{ influencer.followers }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger fw-bold" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-outline-danger btn-view">Flag</button>                
            </div>
        </div>
    {% endfor %}
</div>

<!-- List of Sponsors -->
<div class="container mt-4">

    <div class="mt-5 d-flex align-items-center justify-content-between">
        <h2 class="flex-shrink-0">
            Sponsors
        </h2>
        <!-- create a search button  -->
        <form action="/admin/filter-sponsors" method="POST" class="flex-grow-2 ms-3">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Filter Sponsors" name="filter" value="">
            <button class="btn btn-outline-secondary fw-bold" style="color: black" type="submit">Filter</button>
            </div>
        </form>
    </div>

    {% if allSponsors|length == 0 %}
    <div class="alert alert-warning text-center fs-3 mt-4">
      <span><strong>No Sponsors Available</strong></span>
    </div>
    {% else %}
    {% endif %}

    {% for sponsor in allSponsors %}
        <div class="mt-2 campaign-row">
            <span>{{ sponsor.username }} | {{ sponsor.budget }}</span>
            <div>
                <button type="button" class="btn btn-outline-warning btn-view" data-bs-toggle="modal" data-bs-target="#sponsor-{{sponsor.id}}">View</button>
                <div class="modal fade" id="sponsor-{{sponsor.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel" style="font-family: Verdana, Geneva, Tahoma, sans-serif">{{ sponsor.username }}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h4>Email</h4>
                          {{ sponsor.email }}
                          <hr>
                          <h4>Industry</h4>
                          {{ sponsor.industry }}
                          <hr>
                          <h4>Budget</h4>
                          {{ sponsor.budget }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger fw-bold" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-outline-danger btn-view">Flag</button>
                
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}