{% extends "base.html" %} {% block title %}Influencer Register{% endblock %}

{% block content %}
<div class="container mt-3" align="center" id="influencer-register-container">

  {# influencer register input form #}
  <form method="POST" class="form-control" id="influencer-register-form">
      <h2 align="center">Influencer Register</h2> <br>

      <div class="form-floating mb-4">
        <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control">
        <label for="username">Username : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" id="category" name="category" placeholder="Enter Category" class="form-control">
        <label for="category">Category : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" id="niche" name="niche" placeholder="Enter Niche" class="form-control">
        <label for="niche">Niche : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="number" id="followers" name="followers" placeholder="Enter Followers" class="form-control">
        <label for="followers">Followers : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password1" name="password1" placeholder="Enter Password" class="form-control">
        <label type="password">Password : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="form-control">
        <label type="password">Confirm Password : </label>
      </div>

      <p><strong>Platform Presence</strong></p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <input type="radio" class="btn-check" name="social" id="youtube" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="youtube">YouTube</label>
      
        <input type="radio" class="btn-check" name="social" id="twitter" autocomplete="off">
        <label class="btn btn-outline-info" for="twitter">Twitter</label>
      
        <input type="radio" class="btn-check" name="social" id="insta" autocomplete="off">
        <label class="btn btn-outline-primary" for="insta">Instagram</label>      
      </div><br>
        <button class="btn btn-primary" type="submit" id="register">Register</button>
  </form>
</div>
{% endblock  %}