{% extends "view.html" %} {% block title %}Add Campaigns{% endblock %}

{% block view_content %}
<br><h1 class="fw-bold" align="center">Create Campaigns</h1> <br>
<form method="POST" class="form-control" id="create-campaign-form">

    <div class="form-floating mb-4">
      <input type="text" id="title" name="title" placeholder="Enter Title" class="form-control">
      <label for="title">Title</label>
    </div>

    <div class="form-floating mb-4">
      <input type="text" id="description" name="description" placeholder="Enter Description" class="form-control">
      <label for="description">Description</label>
    </div>
    
    <div class="form-floating mb-4">
      <input type="number" id="budget" name="budget" placeholder="Enter Budget" class="form-control">
      <label for="budget">Budget</label>
    </div>
      
    <div class="form-floating mb-4">
      <input type="date" id="startDate" name="startDate" placeholder="Enter Start Date" class="form-control">
      <label for="startDate">Start Date</label>
    </div>
      
    <div class="form-floating mb-4">
      <input type="date" id="endDate" name="endDate" placeholder="Enter End Date" class="form-control">
      <label for="endDate">End Date</label>
    </div>
    <button class="btn btn-primary" type="submit" id="login">Add</button>
</form>
{% endblock %}