{% extends "base.html" %} {% block title %}Sponsor Register{% endblock %}

{% block content %}
<div class="container mt-3" align="center" id="sponsor-register-container">

  {# sponsor register input form #}
  <form method="POST" class="form-control" id="sponsor-register-form">
      <h2 class="fw-bold" align="center">Sponsor Register</h2> <br>

      <div class="form-floating mb-4">
        <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
        <label for="email">Email : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control">
        <label for="username">Username : </label>
      </div>
      
      <select class="form-select form-floating mb-4" aria-label="Default select example" name="user_niche" required>

        {% for niche in allNiches %}
          <option value="{{niche}}">{{niche}}</option>
        {% endfor %}

        <option selected disabled>Select Niche</option>
      </select>
        
      <div class="form-floating mb-4">
        <input type="number" id="budget" name="budget" placeholder="Enter Budget" class="form-control">
        <label for="budget">Budget : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password1" name="password1" placeholder="Enter Password" class="form-control">
        <label type="password">Password : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="form-control">
        <label type="password">Confirm Password : </label>
      </div>

      <button class="btn btn-primary" type="submit" id="login">Register</button>
  </form>
</div>
{% endblock  %}