{% extends "view.html" %} {% block title %}Profile{% endblock %}

{% block view_content %}

{% set count = namespace(value=0) %}
{% set enterOnce = namespace(value="False") %}

<!-- New Ad Requests -->
<div class="container mt-4">

  <!-- <div class="mt-5 d-flex align-items-center justify-content-between">
      <h2 class="flex-shrink-0 fw-bold fs-1">
          Active Campaigns
      </h2>
  </div>   -->

        {% set count.value = count.value + 1 %}
        {% set enterOnce.value = "True" %}
        <div class="container mt-5">
          <h3 class="fw-bold">New Requests</h3>
          <div class="table-responsive">
              <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th>#</th>
                          <th>Campaign</th>
                          <th>Influencer</th>
                          <th>Goal</th>
                          <th>Message</th>
                          <th>Request Amount (<i class="fa-solid fa-indian-rupee-sign" style="font-size: 15px;"></i>)</th>
                          <th>Accept</th>
                          <th>Reject</th>
                      </tr>
                  </thead>
                  <tbody class="fw-bold">
                      {% for request in allRequests %}
                        {% if (user.id == request.sponsor_id) and (request.status == "Pending") %}
                      <tr>
                          <th scope="row">{{loop.index}}</th>
                          <td>
                            {% for campaign in allCampaigns %}
                              {% if campaign.id == request.campaign_id %}
                                {{campaign.title}}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <td>
                            {% for influencer in allInfluencers %}
                              {% if influencer.id == request.influencer_id %}
                                {{influencer.username}}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <td>{{request.goal}}</td>
                          <td>{{request.message}}</td>
                          <td>
                            {{request.request_amt}} 
                            <a href="" data-bs-toggle="modal" data-bs-target="#changeAmount-{{request.id}}">
                              <i class="fa-solid fa-pen-to-square" style="margin-left: 7px"></i>
                            </a>

                            <div class="modal fade" id="changeAmount-{{request.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Amount</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="update-request-amt/{{request.id}}">
                                      <div class="mb-3">
                                          <label for="recipient-name" class="col-form-label">New Amount:</label>
                                          <input type="number" class="form-control" id="request_amount" name="request_amount" value="{{request.request_amt}}">
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-success">Update</button>
                                      </div>
                                  </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>              
                            <button class="btn text-success fw-bold" data-bs-toggle="modal" data-bs-target="#request-accept-{{request.id}}">Accept</button>
            
                            <!-- Ad Accept Modal -->
                            <div class="modal fade" id="request-accept-{{request.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel">Warning</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to <span class="text-success fw-bold">accept</span> this <strong>Ad Request</strong>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                    <a href="accept-request/{{request.id}}" class="btn btn-success fw-bold">Accept</a>
                                  </div>
                                </div>
                              </div>
                              </div>
                              </div>
                              </div>
                          </td>
                          <td>
                            <button class="btn text-danger fw-bold" data-bs-toggle="modal" data-bs-target="#request-reject-{{request.id}}">
                              Reject
                            </button>
            
                            <!-- Ad Request Reject Modal -->
                            <div class="modal fade" id="request-reject-{{request.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel">Warning</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to <span class="text-danger fw-bold">reject</span> this <strong>Influencer Request</strong>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                    <a href="reject-request/{{request.id}}" class="btn btn-danger fw-bold">Confirm</a>
                                  </div>
                                </div>
                              </div>
                            </div>  
                          </td>
                      </tr>
                        {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
</div>

<!-- Active Campaigns -->
<div class="container mt-4">
        <div class="container mt-5">
          <h3 class="fw-bold">Active Campaigns</h3>
          <div class="table-responsive">
              <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th>#</th>
                          <th>Influencer</th>
                          <th>Message</th>
                          <th>Requirements</th>
                          <th>Payment (<i class="fa-solid fa-indian-rupee-sign" style="font-size: 15px;"></i>)</th>
                          <th>Status</th>
                          <th>Close</th>
                      </tr>
                  </thead>
                  <tbody class="fw-bold">
                      {% for ad in allAds %}
                        {% if user.id == ad.sponsor_id %}
                      <tr>
                          <th scope="row">{{loop.index}}</th>
                          <td>
                            {% for influencer in allInfluencers %}
                              {% if influencer.id == ad.influencer_id %}
                                {{influencer.username}}
                              {% endif %}
                            {% endfor %}
                          </td>
                          <td>{{ad.messages}}</td>
                          <td>{{ad.requirements}}</td>
                          <td>
                            {{ad.payment_amount}}

                            <a href="" data-bs-toggle="modal" data-bs-target="#changeAmount-{{ad.id}}">
                              <i class="fa-solid fa-pen-to-square" style="margin-left: 7px"></i>
                            </a>

                            <div class="modal fade" id="changeAmount-{{ad.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Change Amount</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="update-ad-amt/{{ad.id}}">
                                      <div class="mb-3">
                                          <label for="recipient-name" class="col-form-label">New Amount:</label>
                                          <input type="number" class="form-control" id="ad_amt" name="ad_amt" value="{{ad.payment_amount}}">
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-success">Update</button>
                                      </div>
                                  </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          {% if ad.status == "Pending" %}
                            <td class="text-warning fw-bold">{{ad.status}}</td>
                          {% elif ad.status == "Rejected" %}
                            <td class="fw-bold">
                              <span class="text-danger">{{ad.status}}</span> 
                              
                            </td>
                          {% else %}
                            <td class="text-success fw-bold">{{ad.status}}</td>
                          {% endif %}
                          
                          {% if ad.completed == "False" and ad.status == "Rejected" %}
                          <td class="fw-bold">
                            <a href="" data-bs-toggle="modal" data-bs-target="#delete-ad-request-{{ad.id}}"><i class="fas fa-trash-alt text-danger"></i></a>

                            <div class="modal fade" id="delete-ad-request-{{ad.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel">Warning</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to <span class="text-danger fw-bold">delete</span> this <strong>Ad Request</strong>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                    <a href="delete-ad-request/{{ad.id}}" class="btn btn-danger fw-bold">Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </a>
                          </td>
                          {% elif ad.completed == "False" and ad.status != "Rejected" %}
                            <td class="text-warning fw-bold">Ongoing</td>
                          {% else %}
                            <td style="text-align: center;">
                              <a href="" data-bs-toggle="modal" data-bs-target="#close-ad-{{ad.id}}">
                                <i style="font-size: 25px" class="fa-regular fa-circle-check text-success fw-bold"></i>
                              </a>
  
                              <div class="modal fade" id="close-ad-{{ad.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel">Warning</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body fw-normal">
                                      {% set pt = namespace(payment_to='') %}
                                      {% for influencer in allInfluencers %}
                                        {% if influencer.id == ad.influencer_id %}
                                          {% set pt.payment_to = influencer.username %}
                                        {% endif %}
                                      {% endfor %}
                                      Are you sure you want to proceed? <br>
                                      Transaction of <span class="text-success fw-bold"> <i class="fa-solid fa-indian-rupee-sign" style="font-size: 15px;"></i>{{ad.payment_amount}}</span> will be made to <span class="fw-bold">{{pt.payment_to}}</span> 
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                      <a href="confirm-completion/{{ad.id}}" class="btn btn-success fw-bold">Proceed</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                            </td>
                          {% endif %}
                      </tr>
                        {% endif %}
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
</div>

<!-- Completed Campaigns -->
<div class="container mt-4">
        <div class="container mt-5">
          <h3 class="fw-bold">Completed Campaigns</h3>
          <div class="table-responsive">
              <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th>#</th>
                          <th>Sponsor</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Niche</th>
                          <th>Transaction Amount (<i class="fa-solid fa-indian-rupee-sign" style="font-size: 15px;"></i>)</th>
                          <th>Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for complete_campaign in allCompletedCampaigns %}
                    {% if user.id == complete_campaign.sponsor_id %}
                  <tr>
                      <th scope="row">{{loop.index}}</th>
                      <th>{{complete_campaign.sponsor_name}}</th>
                      <th>{{complete_campaign.title}}</th>
                      <th>{{complete_campaign.description}}</th>
                      <th>{{complete_campaign.niche}}</th>
                      <th>{{complete_campaign.transaction_amount}}</th>
                      <th style="text-align: center;">
                        <a href="" data-bs-toggle="modal" data-bs-target="#delete-completed-campaign-{{complete_campaign.id}}"><i class="fas fa-trash-alt text-danger"></i></a>

                        <div class="modal fade" id="delete-completed-campaign-{{complete_campaign.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel">Warning</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to <span class="text-danger fw-bold">reject</span> this <strong>Ad Request</strong>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
                                <a href="delete-completed-campaign/{{complete_campaign.id}}" class="btn btn-danger fw-bold">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </th>
                  </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>

</div>

{% endblock %}
