{% extends "view.html" %} {% block title %}Campaigns{% endblock %}

{% block view_content %}
<h1 class="fw-bold" align="center" style="padding: 30px 10px; margin-top: 40px">Sponsor Campaigns</h1>

<!-- <style>
  .table th, .table td {
      white-space: nowrap;
  }
  .table th:nth-child(7), .table td:nth-child(7) {
      width: 1%;
      white-space: nowrap;
  }
</style> -->

{% if allCampaigns|length == 0 %}
    <div class="alert alert-warning text-center fs-3 mt-4">
      <span><strong>Start Adding Campaigns</strong></span>
    </div>
{% else %}
    <div class="table-responsive-sm">
      <table class="table w-100 table-fixed-description">
        <thead class="table-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Budget</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          
          {% for campaign in allCampaigns %}
            <tr style="vertical-align: middle;">
              <th scope="row">{{loop.index}}</th>
              <td>{{campaign.title}}</td>
              <td style="word-wrap: break-word;min-width: 160px;max-width: 400px;">{{campaign.description}}</td>
              <td>{{campaign.budget}}</td>
              <td>{{campaign.start_date}}</td>
              <td>{{campaign.end_date}}</td>
              <td>
                <div class="btn-group" role="group" aria-label="DeleteEditButtons">
                  <a href="edit-campaign/{{campaign.id}}" class="btn btn-primary"><strong>Edit</strong></a>
                  
                  <a href="delete-campaign/{{campaign.id}}" class="btn btn-danger"><strong>Delete</strong></a>
                </div>
              </td>
            </tr>
          {% endfor %}
    
        </tbody>
        </table>
    </div>
  {% endif %}

<a href="add-campaign" class="btn btn-primary"><strong>Add New Campaign</strong></a>
{% endblock %}