{% extends "view.html" %} {% block title %}Find{% endblock %}

{% block view_content %}
<div class="container mt-4">

    <div class="mt-5 d-flex align-items-center justify-content-between">
        <h2 class="flex-shrink-0">
            Campaigns
        </h2>
        <!-- create a search button  -->
        <form action="/influencer/filter" method="POST" class="flex-grow-2 ms-3">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Filter Campaigns" name="filter" value="">
            <button class="btn btn-outline-secondary fw-bold" style="color: black" type="submit">Filter</button>
            </div>
        </form>
    </div>

    {% if allCampaigns|length == 0 %}
        <div class="alert alert-warning text-center fs-3 mt-4">
        <span><strong>No Campaigns Available</strong></span>
        </div>
    {% else %}
        {% for campaign in allCampaigns %}
            {% if campaign.visibility == "Public" %}
                <div class="mt-2 campaign-row">
                    <span>{{ campaign.title }} | {{ campaign.budget }}</span>
                    <div>
                        <button class="btn btn-outline-warning btn-view">View</button>
                        <button class="btn btn-outline-success btn-request">Request</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% endblock %}