{% extends "view.html" %} {% block title %}Find{% endblock %}

{% block view_content %}

<div class="container mt-4">

  <!-- Title and Filter -->
  <div class="mt-5 d-flex align-items-center justify-content-between">
      <h1 class="flex-shrink-0 btn fw-bold fs-1 ">
          Campaigns
      </h1>
      <!-- create a search button  -->
      <form action="/influencer/filter" method="POST" class="flex-grow-2 ms-3">
          <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Filter Campaigns" name="filter" value="">
          <button class="btn btn-outline-secondary fw-bold filterBtn" type="submit">Filter</button>
          </div>
      </form>
  </div>

  {% if allCampaigns|length == 0 %}
  <div class="alert alert-warning text-center fs-3 mt-4">
    <span><strong>No Campaigns Available</strong></span>
  </div>
  {% else %}
  {% endif %}

  <!-- Main campaign body -->
  <div>
    <div class="row g-4">
      {% for campaign in allCampaigns %}
      <div class="col-sm-4 mb-5 mt-4">
        {% if loop.index > 3 %}
          <hr>
        {% endif %}
          <div class="card h-100">
              <h2 align="center" class="mt-3 fw-bold campaign-title">{{campaign.title}}</h2>
              <div class="card-body">
                  <p>{{campaign.description}}</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  {% if campaign.visibility == "Public" %}
                  <span class="badge rounded-pill text-bg-info mt-2">{{campaign.visibility}}</span>
                  {% else %}
                  <span class="badge rounded-pill text-bg-warning mt-2">{{campaign.visibility}}</span>
                  {% endif %}
                  <a href="campaign-view/{{campaign.id}}" class="stretched-link"></a>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}