{% extends "base.html" %} {% block title %}Influencer Register{% endblock %}

{% block content %}
<div class="container mt-3" align="center" id="influencer-register-container">

  {# influencer register input form #}
  <form method="POST" class="form-control" id="influencer-register-form" enctype="multipart/form-data">
    <h2 class="fw-bold" align="center">Influencer Register</h2> <br>

      <div class="form-floating mb-4">
        <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
        <label for="email">Email : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control">
        <label for="username">Username : </label>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="form-floating">
            <select class="form-select" aria-label="Default select example" name="user_niche" required>
              {% for niche in allNiches %}
                <option value="{{niche}}">{{niche}}</option>
              {% endfor %}
              <option selected disabled>Select Niche</option>
            </select>
            <label for="user_niche">Select Niche:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="number" id="reach" name="reach" placeholder="Enter Reach" class="form-control" min="0">
            <label for="reach">Reach:</label>
          </div>
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-floating">
            <input type="password" id="password1" name="password1" placeholder="Enter Password" class="form-control">
            <label for="password1">Password:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="form-control">
            <label for="password2">Confirm Password:</label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <input class="form-control" type="file" id="image" name="image" accept="image/*">
        <label for="image" class="form-label"></label>
      </div>

      <p><strong>Platform Presence</strong></p>
      <div class="w-50">
        <select class="form-select" aria-label="Default select example" name="social" required>
          <option value="YouTube">YouTube</option>
          <option value="Twitter">Twitter</option>
          <option value="Instagram">Instagram</option>
          <option selected disabled>Select Niche</option>
        </select>
      </div>
      
        <button class="btn btn-primary fw-bold" type="submit" id="register">Register</button>
  </form>
</div>
{% endblock  %}