<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='sponsor/sponsor-register.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='influencer/influencer-register.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='influencer/influencer-find.css') }}">

  <!-- Bootstrap scripts -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <title>{% block title %}Profile{% endblock %}</title>
</head>

<body>

{# creating navbar #}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    {# <a class="navbar-brand" href="#">Navbar</a> #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# adding navigation buttons to navbar #}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <!-- If user is not authenticated display only Login Register -->
        {% if user.is_authenticated %}

        {% if user.rank == 1 %}
        <!-- Influencer Navbar -->
        <a href="/influencer/influencer-profile" class="nav-link active">Profile</a>
        <a href="/influencer/influencer-find" class="nav-link active">Find</a>
        <a href="/influencer/influencer-stats" class="nav-link active">Stats</a>
        <a href="/auth/logout" class="nav-link active" style="color: rgb(255, 99, 71);"><strong>Logout</strong></a>
        {% else %}
        {% if user.rank == 2 %}
        <!-- Sponsor Navbar -->
        <a href="/sponsor/sponsor-profile" class="nav-link active">Profile</a>
        <a href="/sponsor/sponsor-campaigns" class="nav-link active">Campaigns</a>
        <a href="/sponsor/sponsor-find" class="nav-link active">Find</a>
        <a href="/sponsor/sponsor-stats" class="nav-link active">Stats</a>
        <a href="/auth/logout" class="nav-link active" style="color: rgb(255, 99, 71);"><strong>Logout</strong></a>
        {% else %}
        <!-- Admin Navbar  -->
        {% endif %}
        {% endif %}
        
        {% else %}
        <a href="/" class="nav-link active"><strong>Home</strong></a>  
        <a href="/auth/login" class="nav-link active">Login</a>
        {% endif %}
        
      </div>
    </div>
  </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div id="close" class="alert alert-success alert-dismissible fade show">
                  {{message}}
                  <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
            {% else %}
                <div id="close" class="alert alert-danger alert-dismissible fade show">
                  {{message}}
                  <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}

<div class="container-fluid" style="padding-bottom: 5rem;">
    {% block content %}
    {% endblock %}
</div>
</html>