{% extends "base.html" %} {% block title %}Influencer Register{% endblock %}

{% block content %}
<div class="container mt-3" align="center" id="influencer-register-container">

  {# influencer register input form #}
  <form method="POST" class="form-control" id="influencer-register-form">
      <h2 align="center">Influencer Register</h2> <br>

      <div class="form-floating mb-4">
        <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
        <label for="email">Email : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password" name="password" placeholder="Enter Password" class="form-control">
        <label type="password">Password : </label>
      </div>

      <p><strong>Platform Presence</strong></p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="btnradio1">YouTube</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-info" for="btnradio2">Twitter</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Instagram</label>      
      </div><br>
        <button class="btn btn-primary" type="submit" id="register">Register</button>
  </form>
</div>
{% endblock  %}