{% extends "base.html" %} {% block title %}Sponsor Register{% endblock %}

{% block content %}
<div class="container mt-3" align="center" id="sponsor-register-container">

  {# sponsor register input form #}
  <form method="POST" class="form-control" id="sponsor-register-form">
      <h2 align="center">Sponsor Register</h2> <br>

      <div class="form-floating mb-4">
        <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
        <label for="email">Username : </label>
      </div>
      
      <div class="form-floating mb-3">
        <input type="password" id="password" name="password" placeholder="Enter Password" class="form-control">
        <label type="password">Password : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" id="industry" name="industry" placeholder="Enter Industry" class="form-control">
        <label for="industry">Industry : </label>
      </div>

      <div class="form-floating mb-4">
        <input type="number" id="budget" name="budget" placeholder="Enter Budget" class="form-control">
        <label for="budget">Budget : </label>
      </div>

        <button class="btn btn-primary" type="submit" id="login" style="width: 140px;">Register</button>
  </form>
</div>
{% endblock  %}