#sponsor-register-container{
    width: 600px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 108px !important;
}
#sponsor-register-form{
    border: none;
}
#sponsor-register-buttons{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}